* {
	border: 1px solid red !important;
}

.container {
	height: 500px;
	width: 500px;
	background: gray;
}

.squares {
	height: 100px;
	width: 100px;
}

#square1 {
	background: red;
	height: 200px;
	float: left;
	/*display: inline-block;*/
}

#square2 {
	background: blue;
	width: 200px;
	clear: right;
	/*float: left;*/
	/*display: inline-block;*/
}

#square3 {
	background: green;
}

#square4 {
	background: black
}