* {
	border: 1px solid red !important;
}

.container {
	height: 500px;
	width: 500px;
	background: gray;
}

.squares {
	height: 100px;
	width: 100px;
}

#square1 {
	background: red;
  float: left;
  /*display: inline-block;*/
  height: 200px;
}

#square2 {
	background: blue;
  /*float: left; */
  /*display: inline-block;*/
  /*float: left;*/
  width: 200px;
  clear: right;
}

#square3 {
	background: green;
}

#square4 {
	background: black
}
